.header-container {
    height: 18rem;
    background: grey;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-preview {
    padding: 2rem 1rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .16), 0 1px 5px rgba(0, 0, 0, .23);
    margin-bottom: 2rem;
}

.article-preview img {
    display: inline-block;
    vertical-align: unset;
    height: 32px;
    width: 32px;
    border-radius: 30px;
}

img {
    display: inline-block;
    vertical-align: unset;
    height: 32px;
    width: 32px;
    border-radius: 30px;
}

.tag-list {
    display: flex;
    flex-direction: column;
    background-color: grey;
    color: #fff;
    align-items: center;
}

.tag-list a {
    color: #fff;
    border: 1px solid;
    margin: 11px 1px;
    padding: 8px;
}